:root{
    --cor: #00FF00;
}

.btn-custom,
.btn-custom .active,
.btn-custom:hover,
.slider,
.descricao-post,
.contato,
footer,
.header-page{
    background-color: var(--cor);
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav> .active > a,
.navbar-custom .navbar-nav> li> a:hover,
.navbar-custom .navbar-nav>.active>a:hover
.navegacao a:hover,
.navegacao span{
    color: var(--cor);
}

