:root{
    --cor: #e5262b;
}
.navbar-custom .navbar-nav> li> a:hover,
.navbar-custom .navbar-nav>.active>a:hover{
    border-bottom: 3px solid #e5262b;
}
.widget a:active,
.widget a:hover{
    /*cor padrao do tema setado diretamente no atributo pois não aceita variavel */
    border-bottom: 3px solid #e5262b;
}

.logo{
    background-image: url("../img/logocor2.png");
}
h3,
h4,
h5,
h6{
    color: var(--cor);
}
.btn-custom,
.btn-custom .active,
.btn-custom:hover,
.slider,
.descricao-post,
.contato,
footer,
.header-page,
.header-single,
.pagination > li > a:hover,
.pagination > li > span{
    background-color: var(--cor);
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav> .active > a,
.navbar-custom .navbar-nav> li> a:hover,
.navbar-custom .navbar-nav>.active>a:hover
.navegacao a:hover,
.navegacao span,
.slick-prev:before,
.slick-next:before,
.corfonte{
    color: var(--cor);
}

.contato .form-control{
    background-color: #961f23;
    border: 1px solid #961f23;
}
