:root{
    --cor: #e5262b;
}
.logo{
    background-image: url("../img/logocor2.png");
}

.btn-custom,
.btn-custom .active,
.btn-custom:hover,
.slider,
.descricao-post,
.contato,
footer,
.header-page,
.header-single{
    background-color: var(--cor);
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav> .active > a,
.navbar-custom .navbar-nav> li> a:hover,
.navbar-custom .navbar-nav>.active>a:hover
.navegacao a:hover,
.navegacao span,
.slick-prev:before,
.slick-next:before,
.corfonte{
    color: var(--cor);
}

.contato .form-control{
    background-color: #961f23;
    border: 1px solid #961f23;
}